            <nav class="nav">
                <div class="nav-link"> items per page</div>
                <div class="nav-link">
                    <select id="pageSize" (change)="pageSizeChanged($event.target.value)">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                </div>
                <div class="nav-link">
                    {{(activePage)*recordsPerPage+1}}-{{(activePage)*recordsPerPage + recordsPerPage}} of {{totalRecords}}
                </div>
                <a class="nav-link" [ngClass]="{'disabled': !activePage}"  (click)="onClickPage(activePage - 1)" href="#">Prev</a>
                <a  class="nav-link" style="margin-right:20px;" [ngClass]="{'disabled': isLastPage()}" (click)="onClickPage(activePage + 1)" href="#">Next</a>
            </nav>
        
