.tableFixHead          { overflow-y: auto; height: 600px; }
.tableFixHead thead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px;
    white-space: nowrap;
    overflow: hidden; }
th     { background:#eee;
text-transform: capitalize; }
