<div style="display: flex;flex-direction: column;">
<div class="tableFixHead">
<table class="table ">
    <thead>
      <tr>
        <th scope="col">name</th>
        <th scope="col">phone</th>
        <th scope="col">email</th>
        <th scope="col">company</th>
        <th scope="col">start date</th>
        <th scope="col">org number</th>
        <th scope="col">address 1</th>
        <th scope="col">city</th>
        <th scope="col">zip</th>
        <th scope="col">status</th>
        <th scope="col">fee</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cust of customers">
            <td>{{cust.name}}</td>
            <td>{{cust.phone}}</td>
            <td>{{cust.email}}</td>
            <td>{{cust.company}}</td>
            <td>{{cust.date_entry | date}}</td>
            <td>{{cust.org_num}}</td>
            <td>{{cust.address_1}}</td>
            <td>{{cust.city}}</td>
            <td>{{cust.zip}}</td>
            <td>{{cust.status}}</td>
            <td>{{cust.fee}}</td>
            <td ><button class="btn btn-primary" (click)="submit(cust)">Update</button></td>
        </tr>
    </tbody>
  </table>
  </div>
  <app-pagination style="align-self: flex-end;" [totalRecords]="totalRecords" [recordsPerPage]="recordsPerPage" (onPageChange)="pageChange($event)"></app-pagination>
</div>