/* You can add global styles to this file, and also import other style files */
body{
 font-family: "Times New Roman", Times, serif;
}
.ml-10{
    margin-left: 10;
}
.mr-10{
    margin-right: 10;
}
.mlr-10{ margin-left:10px; margin-right:10px;}